.item-overview-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
}

.item-overview-content {
    display: flex;
    flex-direction: row;
    gap: 20px;  
}

.item-overview-image-container {
    width: 15%;
    height: 15%;
}

.item-overview-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-overview-info-container {
    width: 70%;
    height: 30%;
}

.item-overview-container-header {
    display: flex;
    flex-direction: row;
    gap: 20px;  
}

.item-overview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
}

.item-overview-image:hover {
    cursor: pointer;
    transform: scale(1.05);
}