.review-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.item-reviews-title {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
}

.item-reviews-page {
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.review-card-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.review-card-footer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star {
    color: #ffd700;
}

.review-card-rating {
    font-size: 20px;
    font-weight: bold;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-card-username {
    font-size: 16px;
    cursor: pointer;
}

.review-card-date {
    font-size: 16px;
}

.review-card-text {
    font-size: 20px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.pagination-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
}

.pagination-info {
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.pagination-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.pagination-button:disabled:hover {
    background-color: grey;
}

.pagination-button:hover {
    background-color: #0056b3;
}

.pagination-button:active {
    background-color: #004085;
}

.total-reviews {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
    /* font-weight: bold; */
}