.listPersonThumbnail-title {
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 20px;
}

.listPersonThumbnail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    margin-bottom: 20px;
    width: 100%;
}

.listPersonThumbnail-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 50px;
}

.listPersonThumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

.listPersonThumbnail-button:hover {
    background-color: #333;
}


.listPersonThumbnail-item-viewport {
    flex: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.listPersonThumbnail-item-slider {
    display: flex;
    position: relative;
    transition: transform 0.3s ease-out;
    width: max-content;
}

.listPersonThumbnail-item-wrapper {
    width: 200px;
    margin-right: 25px;
}