nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-logo {
    width: 45px;
    padding: 0px 24px;
    transform: scale(1.5, 1);
    cursor: pointer;
}

.search-input {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #222;
    color: white;
    width: 600px;
}

.search-input::placeholder {
    color: #bbb;
}

.search-input:hover {
    border-color: white;
}

.nav-button {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
}

.nav-button-div {
    background-color: #181818;
    border: 1px;
    border-radius: 16px;
}

.nav-button-div:hover {
    background-color: rgb(61, 61, 61);
}

.search-container {
    position: relative;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-result-item {
    padding: 8px 15px;
    cursor: pointer;
    color: #333;
    background-color: #181818;
    border-bottom: 1px solid #eee;
}

.search-result-item:hover {
    background-color: rgb(61, 61, 61);
}

.search-result-content {
    display: flex;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.search-result-image {
    width: 40px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 2px;
}

.search-result-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.search-result-actors {
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
}

.search-result-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-result-year {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 2px;
}

.search-result-info {
    display: flex;
    flex: 1;
}

.search-result-rating {
    margin-left: auto;
    font-weight: bold;
    color: #f5c518;
}